@font-face {
  font-family: LCD;
  src: url(../css/fonts/LCD.ttf);
}
@font-face {
  font-family: yousheBT;
  src: url(../css/fonts/yousheBT.ttf);
}
@font-face {
  font-family: Alibaba;
  src: url(../css/fonts/Alibaba-PuHuiTi-Regular.ttf);
}
.tdt-bottom {
  opacity: 0;
}
.tdt-container {
  background-color: #0c1332 !important;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), #000);
}
[v-cloak] {
  display: none;
}
#contain {
  width: 1920px;
  height: 1080px;
  background: #0c1332;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: Alibaba;
}
#contain .num {
  font-family: LCD;
}
#contain svg {
  position: absolute;
  left: 30%;
  top: 45px;
  z-index: 99;
}
#contain .btn {
  position: absolute;
  bottom: 20px;
  right: 26%;
  z-index: 99;
}
#contain .btn p {
  cursor: pointer;
  padding: 20px 30px;
  background: url(../img/btn.png) center no-repeat;
  background-size: 100%;
  opacity: 0.6;
}
#contain .btn p.active {
  opacity: 1;
}
#contain .tooltip {
  box-shadow: none !important;
  border: none !important;
}
#contain .map-tooltip {
  border-radius: 8px !important;
  color: #fff;
  padding: 0px 20px 64px !important;
  background: url(../img/bg-tooltip.png) top center no-repeat;
  background-size: 100%;
}
#contain .map-tooltip p {
  padding: 0;
  margin: 0;
  height: 40px;
  font-family: Alibaba;
}
#contain .map-tooltip p:first-child {
  position: relative;
  margin: 10px 0 5px;
  font-size: 26px;
}
#contain .map-tooltip p:first-child::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background: linear-gradient(-90deg, #1cccff 0%, rgba(85, 209, 255, 0) 100%);
  position: absolute;
  bottom: 6px;
  left: 0;
}
#contain .map-tooltip p:nth-child(2) .num {
  color: #1cccff;
}
#contain .map-tooltip p:nth-child(3) .num {
  color: #24ff1c;
}
#contain .map-tooltip p:nth-child(4) .num {
  color: #fbcd50;
}
#contain .map-tooltip p:not(.title) {
  font-size: 20px;
}
#contain .map-tooltip p:not(.title) .num {
  font-size: 30px;
}
#contain .map-tooltip p:not(.title) > span {
  display: inline-block;
}
#contain .map-tooltip p:not(.title) > span:first-child {
  width: 140px;
}
#contain #map {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  z-index: 1 !important;
}
#contain #map2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}
#contain #map2 #map2Main {
  width: 100%;
  height: 100%;
}
#contain .title {
  font-family: yousheBT;
}
#contain h1.title {
  width: 100%;
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  text-align: center;
  line-height: 1.5;
  background: url(../img/title-bg1.png) center bottom no-repeat;
  height: 100px;
  letter-spacing: 4px;
  text-shadow: 0 0 7px #1cccff, 0 0 7px #1cccff;
}
#contain > .main {
  width: 25%;
  height: calc(100% - 70px);
  position: absolute;
  top: 60px;
  z-index: 99;
}
#contain > .main > div {
  width: 100%;
  height: calc(33.3% - 10px);
  border: 1px solid rgba(28, 204, 255, 0.2);
  box-shadow: inset 0 0 20px 20px rgba(8, 204, 255, 0.1), inset 0 0 20px 20px rgba(8, 204, 255, 0.1);
  border-radius: 15px;
  padding: 10px 6px;
}
#contain > .main > div h2.title {
  font-size: 20px;
  background: url(../img/title-bg.png) left no-repeat;
  background-size: 100% 100%;
  padding: 0 0 10px 30px;
}
#contain > .main > div:not(:first-child) {
  margin-top: 15px;
}
#contain > .main > div > .main {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
#contain > .main > div > .main.table span {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contain > .main > div > .main.table span:first-child {
  width: 60%;
}
#contain > .main > div > .main.table span:nth-child(2) {
  width: 40%;
}
#contain > .main > div > .main.table .header {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 10px;
  background: rgba(73, 223, 255, 0.1);
}
#contain > .main > div > .main.table .scroll-list {
  width: 100%;
  height: 86%;
  margin-top: 6px;
  overflow: hidden;
}
#contain > .main > div > .main.table .scroll-list .warp {
  width: 100%;
  height: 100%;
}
#contain > .main > div > .main.table .scroll-list .warp .item li {
  height: 37px;
  line-height: 37px;
  display: flex;
}
#contain > .main > div > .main.table .scroll-list .warp .item li:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}
#contain > .main > div > .main.table-4 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
#contain > .main > div > .main.table-4 span.num {
  color: #1cccff;
}
#contain > .main > div > .main.table-4 span:first-child {
  width: 40%;
}
#contain > .main > div > .main.table-4 span:nth-child(2) {
  width: 20%;
}
#contain > .main.left {
  left: 0;
}
#contain > .main.left > div:first-child .list {
  display: flex;
}
#contain > .main.left > div:first-child .list div {
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background: url(../img/g.webm) center no-repeat;
  position: relative;
}
#contain > .main.left > div:first-child .list div video {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}
#contain > .main.left > div:first-child .list div .num {
  font-family: LCD;
  font-size: 30px;
}
#contain > .main.left > div:first-child .list div > p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contain > .main.left > div:first-child .list div > p .num {
  padding: 24px 0 32px;
}
#contain > .main.left > div:first-child .list div:last-child .num {
  color: #fb3f3f;
}
#contain > .main.left > div:first-child .msg {
  display: flex;
  margin-top: 10px;
}
#contain > .main.left > div:first-child .msg > div {
  width: 50%;
  height: 156px;
}
#contain > .main.left > div:first-child .msg > div > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#contain > .main.left > div:first-child .msg > div > div::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 140px;
  background: url(../img/pie.png) center no-repeat;
  background-size: 130px;
  position: absolute;
  top: 0;
  animation: identifier 11s linear;
}
@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#contain > .main.left > div:first-child .msg > div .chart {
  position: absolute;
  top: -0.5px;
  left: 0.5px;
  width: 100%;
  height: 140px;
  z-index: 8;
}
#contain > .main.left > div:first-child .msg h3 {
  line-height: 1.5;
  background: url(../img/sub-title.png) 30px center no-repeat;
  background-size: 180px;
  text-indent: 50px;
}
#contain > .main.right {
  right: 0;
}
